<div class="container my-3">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe *ngIf="video" [src]="video" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="mt-1">
    <h4>{{ videoData?.title }}  <a *ngIf="videoData?.isOwner" [href]="videoData.stream" class="btn btn-primary ml-4">ダウンロード</a>
    </h4>
    <ng-template [ngIf]="videoData?.user">
      <p class="m-0">{{videoData?.timestamp | date: 'yyyy年MM月dd日 HH:mm' : '+1800'}} にライブ配信</p>
      <h5><a href="https://misskey.io/@{{ videoData?.user }}" rel="noopener" target="_blank">@{{ videoData?.user }}</a>
      </h5>
    </ng-template>
    <div class="dropdown-divider"></div>
    <markdown ngPreserveWhitespaces class="description" [data]="videoData?.description"></markdown>
    <div *ngIf="archiveData.length != 0" class="container-fluid my-3">
      <h4>{{videoData?.user}} の過去の配信</h4>
      <div class="row">
        <ng-template [ngForOf]="archiveData" let-data ngFor>
          <div class="col-md-6 col-lg-3 mb-4">
            <app-archive-info-card
              [duration]="data.duration"
              [id]="data.id"
              [thumbnail]="data.thumbnail"
              [timestamp]="data.timestamp"
              [title]="data.title"
              [username]="videoData?.user"></app-archive-info-card>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
