.thumbnail-box {
  position: relative;
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;

  .duration {
    bottom: 5px;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, .75);
  }

  .labels, .duration {
    position: absolute;
    right: 5px;
    margin: 0;
  }

  .labels {
    top: 5px;

    .public-label {
      padding: 2px 7px;
    }
  }
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: all .2s;

  .card-body {
    font-size: 0.75rem;

    .card-text {
      margin: 0;
    }
  }

  .card-body, .card-footer {
    padding: 0.5rem;
  }
}

.card:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, .75);
}
