<swal #shareError [showConfirmButton]="false" timer="3000" title="配信ソースを変更するには配信を停止してください" type="error"></swal>
<swal #selectError [showConfirmButton]="false" timer="3000" title="配信を開始する前に配信ソースを選択してください" type="error"></swal>

<ng-template [ngIf]="!supportBrowser">
  <h1>申し訳ございませんが、サポートされていないブラウザのようです。</h1>
  <p>Google Chrome等のChromium系ブラウザをご利用ください。</p>
</ng-template>

<ng-template [ngIf]="supportBrowser">
  <div class="container-fluid py-3">
    <h4>配信開始後、ページを移動すると配信が止まってしまいますのでご注意ください。</h4>
    <div class="row">
      <div class="col-xl-9 mb-4">
        <div class="card bg-dark text-white">
          <h5 class="card-header">配信プレビュー</h5>
          <div class="card-body bg-dark p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <video [muted]="isPreviewMute" [srcObject]="stream" autoplay class="embed-responsive-item"></video>
            </div>
            <div class="mute-overlay">
              <button (click)="toggleMicMute()" [class.btn-danger]="isMicMute" [class.btn-light]="!isMicMute"
                      class="btn btn-mute" ngbTooltip="マイク音声ミュート">
                <fa-icon [icon]="isMicMute ? faMicrophoneSlash : faMicrophone"></fa-icon>
              </button>
              <button (click)="toggleDesktopMute()" *ngIf="isDesktop" [class.btn-danger]="isDesktopMute"
                      [class.btn-light]="!isDesktopMute"
                      class="btn btn-mute" ngbTooltip="デスクトップ音声ミュート">
                <fa-icon [icon]="isDesktopMute ? faVolumeMute : faVolumeUp"></fa-icon>
              </button>
              <button (click)="isPreviewMute = !isPreviewMute" [class.btn-danger]="isPreviewMute"
                      [class.btn-light]="!isPreviewMute"
                      class="btn btn-mute" ngbTooltip="プレビュー音声ミュート">
                <fa-icon [icon]="isPreviewMute ? faEyeSlash : faEye"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button (click)="setupCamera()" *ngIf="recorder === null && isDesktop" class="btn btn-success mr-2">カメラで配信</button>
    <button (click)="shareError.fire()" *ngIf="recorder != null && isDesktop" class="btn btn-secondary mr-2">カメラで配信
    </button>
    <button (click)="setupDesktop()" *ngIf="recorder === null && !isDesktop" class="btn btn-success mr-2">デスクトップを共有
    </button>
    <button (click)="shareError.fire()" *ngIf="recorder != null && !isDesktop" class="btn btn-secondary mr-2">
      デスクトップを共有
    </button>

    <button (click)="setupDesktop()" *ngIf="recorder === null && isDesktop" class="btn btn-success mr-2">共有範囲を変更
    </button>
    <button (click)="shareError.fire()" *ngIf="recorder != null && isDesktop" class="btn btn-secondary mr-2">共有範囲を変更
    </button>

    <button (click)="start()" *ngIf="recorder === null && stream != null" class="btn btn-danger mr-2">配信開始</button>
    <button (click)="selectError.fire()" *ngIf="stream == null" class="btn btn-secondary mr-2">配信開始</button>
    <button (click)="stop()" *ngIf="recorder != null" class="btn btn-danger mr-2">配信停止</button>

  </div>
</ng-template>
