.mute-overlay {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  opacity: 0.5;

  .btn-mute {
    margin: 0 10px;
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 100% !important;
  }
}
