<div class="container-fluid dashboard">
  <div class="row flex-xl-nowrap h-100">
    <div class="col-12 col-lg-2 sidebar-base">
      <div class="d-lg-none d-flex py-2 px-4 align-items-center text-body sidebar-collapsed" role="button"
           (click)="isMenuCollapsed = !isMenuCollapsed"><span class="mr-auto">Menu</span>
        <button aria-controls="doc-nav" class="btn btn-link p-0">
          <svg class="align-middle" focusable="false" height="30" viewBox="0 0 30 30" width="30"
               xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
            <path d="M4 7h22M4 15h22M4 23h22" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
          </svg>
        </button>
      </div>
      <div class="d-lg-block my-3 collapse sidebar" id="doc-nav" [ngbCollapse]="isMenuCollapsed">
        <nav class="toc">
          <div class="toc-item mb-4">
            <ul class="nav flex-column dashboard-nav">
              <li class="toc-link" routerLink="/dashboard/index" routerLinkActive="active">ダッシュボード</li>
              <!-- todo: <li class="toc-link" routerLink="/dashboard/settings" routerLinkActive="active">配信設定</li> -->
              <li class="toc-link" routerLink="/dashboard/archives" routerLinkActive="active">アーカイブ</li>
              <li class="toc-link" routerLink="/dashboard/livenow" routerLinkActive="active">ブラウザから配信</li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="col-12 col-lg-10 main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
